


.Container{
  align-items: center;
  background-color:rgb(224, 182, 182);
  justify-content: center;
  margin-left: 700px;
  border-radius: 16px;
  margin-top: 80px;
  width: 500px;
}

   button{
  background-color: rgb(166, 192, 231);
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #61dafb;
  margin-top:200px ;
  align-items: center;
  margin-left: 88px;
  margin-bottom: 25px;

}
.card-title{
  text-align: center;
  text-decoration: wavy;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
h1{
  color: white;
  font-size: 40px;
  margin-left: 1750px;
}

